{{!-- {{for injecting dynamic values}} --}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/web-server/public/css/style.css">
    <title>Document</title>
</head>
<body>
    {{>header}}
    <h1>{{title}}</h1>
    <h1>{{pageName}}</h1>

    <form>
        <input type="text" id="long" placeholder="Longitude">
        <input type="text" id="lat" placeholder="Latitude">
        <button>Submit</button>
    </form>
    
    <div id=result></div>

    <script src="/js/script.js"></script>
</body>
</html>